#viewer>div {
  overflow: unset !important;
}

pre#txt-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.6;
}